.DS_Store

tmux/plugins/
oh-my-tmux/

fish/fish_variables
fish/completions/
fish/conf.d/
fish/themes/
fish/functions/_fzf_*.fish
fish/functions/fisher.fish
fish/functions/fzf_configure_bindings.fish

mole/mole.log
mole/operations.log

karabiner/automatic_backups/
karabiner/assets/
