.DS_Store

tmux/plugins/

fish/fish_variables
fish/completions/
fish/conf.d/
fish/functions/_fzf_*.fish
fish/functions/fisher.fish
fish/functions/fzf_configure_bindings.fish

yazi/plugins/
yazi/flavors/

scripts/privacy-*.sh

.claude/worktrees/
.omc/sessions/
.omc/project-memory.json
.omc/state/

.trae

.qoder/
